/***********Header*************/
html{
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
  background-image: url(http://subtlepatterns.com/patterns/dark_wall.png);
}

* {
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    border-bottom: 1px solid white;
}
.menu ul{
    background:#F57C00;
    height:50px;
    width:97%;
    padding-top:20px;
    padding-left:3%;
}
.menu ul li{
    display:inline-block;
    position:relative;
    width:100px;
    height:30px;
    text-align:center;
}
.menu ul li a{
    position:absolute;
    z-index:100;
    left:0px;
    width:100%;
    height:25px;
    padding-top:5px;
    color:#eee;
    font-family:"TeXGyreReg",sans-serif;
    font-weight:normal;
    text-shadow:-1px -1px 0px rgba(0,0,0,0.2),1px 1px 0px rgba(255,255,255,0.2);
    font-size:1.1em;
    text-decoration:none;
    font-size:0.9em;
}
.menu ul li span{
    position:absolute;
    visibility:hidden;
    z-index:95;
    display:block;
    width:100px;
    height:30px;
    background:rgba(0,0,0,0.4);
    left:0px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

.menu ul li span{
    left:-1600px;
    -webkit-transition:left 0.2s ease,visibility 0s ease 0.2s;
    -o-transition:left 0.2s ease,visibility 0s ease 0.2s;
    -moz-transition:left 0.2s ease,visibility 0s ease 0.2s;
    -ms-transition:left 0.2s ease,visibility 0s ease 0.2s;
    transition:left 0.2s ease,visibility 0s ease 0.2s;
}

.menu ul li:hover span{
    left:0px;
    visibility:visible;
    -webkit-transition:left 0.2s ease 0.3s,visibility 0s ease;
    -o-transition:left 0.2s ease 0.3s,visibility 0s ease;
    -moz-transition:left 0.2s ease 0.3s,visibility 0s ease;
    -ms-transition:left 0.2s ease 0.3s,visibility 0s ease;
    transition:left 0.2s ease 0.3s,visibility 0s ease;
}

/***********Slider**************/


/*********Efecto*****************/

body {
    top: 0;
    left: 0;
    margin: 0;
  background: #727272;
}

.container {
    position: relative;
    height: 400px;
    width: 600px;
    margin: 50px auto 0 auto;
}

/* ===== CLOCK ===== */

.clock {
    position: absolute;
    top: 80px;
    right: 40px;
    background: #f1f1f1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 6px solid #009787;
}

.clock:before {
    content: "";
    position: absolute;
    background: #e91e63;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    margin: 27px 0 0 27px;
}

.clock-hours {
    position: relative;
    background: #e91e63;
    height: 20px;
    width: 4px;
    transform: rotate(-40deg);
    margin: 30px 0 0 28px;
    -webkit-animation: spin 48s infinite linear;
    -moz-animation: spin 48s infinite linear;
    animation: spin 48s infinite linear;
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);
        -webkit-transform-origin: 50% 0%;
    }
    100% {-webkit-transform: rotate(360deg);
        -webkit-transform-origin: 50% 0%;
    }
}

@-moz-keyframes spin {
    0% {-moz-transform: rotate(0deg);
        -moz-transform-origin: 50% 0%;
    }
    100% {-moz-transform: rotate(360deg);
        -moz-transform-origin: 50% 0%;
    }
}

@keyframes spin {
    0% {transform: rotate(0deg);
        transform-origin: 50% 0%;
    }
    100% {transform: rotate(360deg);
        transform-origin: 50% 0%;
    }
}

.clock-mins {
    position: relative;
    background: #e91e63;
    height: 24px;
    width: 4px;
    transform: rotate(90deg);
    margin: -20px 0 0 28px;
    -webkit-animation: spin 4s infinite linear;
    -moz-animation: spin 4s infinite linear;
    animation: spin 4s infinite linear;
}

/* ===== SWITCH ===== */

.switch {
    position: relative;
    top: 240px;
    left: 512px;
    background: #818382;
    height: 58px;
    width: 34px;
}

.switch-white {
    position: relative;
    background: #f1f1f1;
    height: 14px;
    width: 26px;
    margin: 4px 0 0 4px;
    top: 4px;
    cursor: pointer;
    z-index: 2;
}

.switch-yellow {
    position: relative;
    background: #ffc107;
    height: 14px;
    width: 26px;
    margin: 4px 0 0 4px;
    top: 4px;
    cursor: pointer;
    z-index: 3;
}

.switch-off {
    position: relative;
    background: #151b1b;
    height: 14px;
    width: 26px;
    margin: 4px 0 0 4px;
    top: 4px;
    cursor: pointer;
    z-index: 4;
}

/* ===== COMPUTER ===== */

.computer {
    position: relative;
    left: 40px;
    top: -2px;
}

.computer-body {
    position: relative;
    background: #151b1b;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    margin: 150px auto;
}

.computer-screen {
    position: relative;
    background: #cfd8dc;
    height: 110px;
    width: 230px;
    margin: 0 auto;
    top: 10px;
}

.computer-content {
    position: relative;
    top: 10px;
    margin: 4px auto 0 auto;
}

.computer-content-block {
    position: relative;
    display: inline-block;
    background: rgba(129, 131, 130, 0.4);
    height: 24px;
    width: 100px;
    margin: 0px 0 4px 9px;
}

.computer-content-text {
    position: relative;
    display: inline-block;
    background: #cfd8dc;
    height: 8px;
    width: 100px;
    border-top: 8px solid rgba(129, 131, 130, 0.4);
    border-bottom: 8px solid rgba(129, 131, 130, 0.4);
    margin: 0px 0 4px 9px;
}

.computer-stand {
    position: relative;
    border-bottom: 20px solid #4c5051;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 50px;
    margin: 40px auto;
}

.computer-stand:before {
    content:"";
    position: absolute;
    background: #818382;
    height: 6px;
    width: 300px;
    border-radius:3px 3px 0 0;
    margin: 20px 0 0 -125px;
}

.computer-stand:after {
    content:"";
    position: absolute;
    background: #151b1b;
    height: 4px;
    width: 300px;
    margin: 26px 0 0 -125px;
}

/* ===== LAMP ===== */

.lamp {
    position: relative;
    height: 320px;
    width: 300px;
    margin: -346px 0 0 140px;
}

.lamp-head {
    position: relative;
    background: #f1f1f1;
    height: 35px;
    width: 70px;
    border-radius: 35px 35px 0 0;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.lamp-head:before {
    content: "";
    position: absolute;
    border-bottom: 20px solid #f1f1f1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    width: 20px;
    margin: -16px 0 0 18px;
}

.lamp-head:after {
    content: "";
    position: absolute;
    background: #e91e63;
    height: 8px;
    width: 6px;
    border-radius: 3px 3px 0 0;
    margin: -24px 0 0 30px;
}

.lamp-bulb {
    position: relative;
    height: 8px;
    width: 16px;
    border-radius: 8px 8px 0 0;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    transform: rotate(140deg);
    margin: -5px 0 0 40px;
}

.on {
    background: #ffc107;
}

.off {
    display: none;
    background: #818382;
}

.lamp-stand-top {
    position: relative;
    background: #f1f1f1;
    height: 110px;
    width: 6px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
    margin-bottom: -98px;
    top: -40px;
    left: -36px;
}

.lamp-pivot {
    position: relative;
    background: #e91e63;
    height: 20px;
    width: 20px;
    border: 4px solid #ffc107;
    border-radius: 50%;
    margin: 6px 0 0 -86px;
    z-index: 1;
}

.lamp-stand-bottom {
    position: relative;
    display: inline-block;
    background: #f1f1f1;
    height: 110px;
    width: 6px;
    margin-left: 1px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -6px;
    left: -92px;
}

.lamp-base {
    position: relative;
    background: #e91e63;
    height: 30px;
    width: 60px;
    border-radius: 30px 30px 0 0;
    margin: -16px 0 0 -122px;
}

.lamp-light {
    position: absolute;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 70px;
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    transform: rotate(-40deg);
    margin: -210px 0 0 -24px;
}

.yellow {
    border-bottom: 140px solid rgba(255, 193, 7, 0.3);  
}

.white {
    display: none;
    border-bottom: 140px solid rgba(241, 241, 241, 0.3);
}

/* ===== DESK ===== */

.desk {
    position: relative;
    background: #f1f1f1;
    height: 30px;
    width: 600px;
    margin: -96px 0 0 0;
    box-shadow: 6px 6px 15px 0 #9999cc;
}

/**********Header2*******/

h1 {
  color:white;
  font-family: arial, helvetica, san-serif;
  font-size: 1.5em;
  line-height: 1.1;
  text-align: center;
}

.header-wrap {
  background: #0099cc;
  /*border removed*/
  padding:%;
  box-shadow: 0 5px 10px #aaa;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
}

/**********Text**************/

.content {
  width:237px;
  font-size:36px;
  line-height:40px;
  font-family:'Muli';
  color:#ecf0f1;
  height:50px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top: -400px;
  margin-left:-80px;
  
  &:before {
    content:'[';
    position:absolute;
    left:-30px;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right:-30px;
    line-height:40px;
  }
  &:after, &:before {
    color:#16a085;
    font-size:42px;
    animation:2s linear 0s normal none infinite opacity;
    -webkit-animation:2s ease-out 0s normal none infinite opacity;
    -moz-animation:2s ease-out 0s normal none infinite opacity;
    -o-animation:2s ease-out 0s normal none infinite opacity;
  }
}

.visible {
  float:left;
  font-weight:600;
  overflow:hidden;
  height:40px;   
}

p {
  display:inline;
  float:left;
  margin:0;
}


@-webkit-keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}
@keyframes opacity {
  0%   {opacity:0;}
  50%  {opacity:1;}
  100% {opacity:0;}
}

/******Notas***********/
.sticky {
  position: relative;
  width: 500px;
  overflow: hidden;
  padding: 10px 20px;
  margin: 4em auto;
  color: #fff;
  background: #355C7D;
  font-size: 20px;
}
.sticky:before {
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 30px 30px 0;
  border-style: solid;
  border-color: #264259 #f2f2f2;
}

/*************************/

.navbar {
  width: 100%;
  height: 60px;
  background: #F57C00;
}

.accordion {
    width: 700px;
    margin: 10px auto;
}
.accordion label {
    font-family: Arial, sans-serif;
  padding: 18px 30px 3px 21px;
    position: relative;
    display: block;
    height: 50px;
    cursor: pointer;
    color: #adb3b9;
    line-height: 33px;
    font-size: 25px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px #ccc;
}

.accordion label:hover {
    color: #fff;
    background: #0099cc;
}


.accordion label:before {  
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  margin-top: 10px;
  margin-right: 5px;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}


.accordion input + label {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.accordion input:checked + label,
.accordion input:checked + label:hover {
    margin-bottom: -6px;
    background: #F1F1F1;
    color: #777;
}

.accordion input:checked + label,
.accordion input:checked + label:hover {
    content: "+";
}

.accordion input {
    display: none;
}
.accordion .article {
    background: #f4f4f4;
    overflow: hidden;
    height: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.accordion .article p {
    font-style: italic;
    color: #777;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
}
.accordion input:checked ~ .article {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 25px;
}
.accordion input:checked ~ .article.ac-small {
    height: 155px;
}
.accordion input:checked ~ .article.ac-medium {
    height: 195px;
}
.accordion input:checked ~ .article.ac-large {
    height: 245px;
}

.characters {
  -webkit-animation: box 800ms linear 0s 1 forwards;
}

@media (max-width: 1280px) {
  .accordion {
    width: 100%;
  }
}

footer
{
  background:#F57C00;
}

footer{
  text-align:center;
  display:block;
  color:#fff;
  padding:20px;
}